body{
    text-align: start;
    font-family: system-ui, system-ui, sans-serif;
font-size: 81.25%;}
 div{
    justify-content: center;
    align-items: center;
    flex-direction:column;
    align-content:center;
 }
a{ 
    orientation: portrait;
    font-style: italic;
    color: black;
}
